asgiref==3.3.4
attrs==20.3.0
certifi==2020.12.5
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cycler==0.10.0
decorator==4.4.2
Django==3.2
django-livesync==0.5
Fiona @ file:///D:/sixth%20semester/CRUD/pandas/geopandas%20dependencies/Fiona-1.8.19-cp39-cp39-win_amd64.whl
GDAL @ file:///D:/sixth%20semester/CRUD/pandas/geopandas%20dependencies/GDAL-3.2.2-cp39-cp39-win_amd64.whl
geopandas @ file:///D:/sixth%20semester/CRUD/pandas/geopandas%20dependencies/geopandas-0.9.0-py3-none-any.whl
gunicorn==20.1.0
joblib==1.0.1
kiwisolver==1.3.1
mapclassify==2.4.2
matplotlib==3.4.1
munch==2.5.0
networkx==2.5.1
numpy==1.20.2
pandas==1.2.4
Pillow==8.2.0
plotly==4.14.3
pyparsing==2.4.7
pyproj @ file:///D:/sixth%20semester/CRUD/pandas/geopandas%20dependencies/pyproj-3.0.1-cp39-cp39-win_amd64.whl
python-dateutil==2.8.1
pytz==2021.1
retrying==1.3.3
scikit-learn==0.24.1
scipy==1.6.2
Shapely @ file:///D:/sixth%20semester/CRUD/pandas/geopandas%20dependencies/Shapely-1.7.1-cp39-cp39-win_amd64.whl
six==1.15.0
sqlparse==0.4.1
threadpoolctl==2.1.0
tornado==6.1
watchdog==2.0.3
websocket-client==0.58.0
