<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid locater</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}" />
    
</head>
<body>
        {% csrf_token %}
        
        <h1 id="header">COVID Locator</h1>

        <p class="container">
            <button id="button" onclick="getlocation()">Click me!</button>
            <div style="display: none;
             text-align: center;
             ">
                <a href="#" id="location">Finding me in map</a>
        </div>
        </p>
        <div id="writing">
            <h3>About this Web Application</h3>
            <p>
                This application gives you the real time mapped data of the Infected, Recovered,and Death population in Iowa. You can see your safety based on which county are you currently located in. You can zoom in the map for more clarity. Please click the button above to
                let this application find your location and double click to see you in the map below.
                <p>(Source: The map was created using geopandas and matplotlib in spyder and integrated in Django.)</p>
            </p>
        </div>
        <div class="pretty">
            <div id="image">
                <img src="data:image/png;base64,{{data}}" alt="" height=900 , width=900 focus=16px>
            </div>
            <p id="ending">
                Let us make an <a href="https://coronavirus.iowa.gov/pages/vaccineinformation#VaccineProviders">appointment</a> if you are still not vaccinated.
            </p>
             
        </div>
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static '/js/script1.js' %}" type="text/javascript"></script>
</body>
</html>